<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8"/>
	<title>BuildPress | We Build Structures &amp; Relationships to Last</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400,700%3Alatin%7CMontserrat%3A700%3Alatin"/>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/shop.css"/>
	<link rel="stylesheet" href="style-switcher/assets/css/main.css"/>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/modernizr.custom.24530.js"></script>
	<!--<script type='text/javascript' src='js/jquery.themepunch.essential.min.js'></script>-->
</head>
<body class="woocommerce-page">

<div class="boxed-container">
	<header class="header">
		<div class="container">
			<div class="logo">
				<a href="index.html">
					<img src="images/logo.png" alt="BuildPress" class="img-responsive"/>
				</a>
			</div>
			<div class="header-widgets  header-widgets-desktop">
				<div class="widget  widget-icon-box">
					<div class="icon-box">
						<i class="fa  fa-phone  fa-3x"></i>
						<div class="icon-box__text">
							<h4 class="icon-box__title">(+996) 706065005</h4>
							<span class="icon-box__subtitle"> buildpress@gmail.com </span>
						</div>
					</div>
				</div>
				<div class="widget  widget-icon-box">
					<div class="icon-box">
						<i class="fa fa-home fa-3x"></i>
						<div class="icon-box__text">
							<h4 class="icon-box__title">Maldybaeva 34A</h4>
							<span class="icon-box__subtitle">Bishkek, 320034</span>
						</div>
					</div>
				</div>
				<div class="widget  widget-icon-box">
					<div class="icon-box">
						<i class="fa  fa-clock-o  fa-3x"></i>
						<div class="icon-box__text">
							<h4 class="icon-box__title">Пон. - Субб. 8.00 - 18.00</h4>
							<span class="icon-box__subtitle">Воскр. отдых</span>
						</div>
					</div>
				</div>
			</div>
			<!-- Toggle Button for Mobile Navigation -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#buildpress-navbar-collapse">
				<span class="navbar-toggle__text">MENU</span>
				<span class="navbar-toggle__icon-bar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</span>
			</button>
		</div>
		<div class="sticky-offset js-sticky-offset"></div>
		<div class="container">
			<div class="navigation">
				<div class="collapse  navbar-collapse" id="buildpress-navbar-collapse">
					<ul id="menu-main-menu" class="navigation--main">
						<li class="current-menu-item"><a href="index.html">Главная</a></li>
						<li><a href="projects.html">Проекты</a></li>
						<li class="menu-item-has-children">
							<a href="services.html">Наши услуги</a>
							<ul class="sub-menu">
								<li><a href="services-content/construction-management.html">Управление Строительством</a></li>
								<li><a href="services-content/design-and-build.html">Проектирование и Строительство</a></li>
								<li><a href="services-content/kitchen-remodeling.html">Ремонт Кухни</a></li>
								<li><a href="services-content/tiling-and-painting.html">Укладка плитки и покраска</a></li>
								<li><a href="services-content/condo-remodeling.html">Реконструкция Кондоминиума</a></li>
								<li><a href="services-content/hardwood-flooring.html">Паркетные Полы</a></li>
								<li><a href="services.html">Все Услуги</a></li>
							</ul>
						</li>
						<li><a href="about.html">О Нас</a></li>
						<li><a href="blog.html">Блог</a></li>
						<li><a href="shop.html">Магазин</a></li>
						<li><a href="contact-us.html">Контакты</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="header-widgets  hidden-md  hidden-lg">
				<div class="widget  widget-icon-box">
					<div class="icon-box">
						<i class="fa  fa-phone  fa-3x"></i>
						<div class="icon-box__text">
							<h4 class="icon-box__title">(+996) 706065005</h4>
							<span class="icon-box__subtitle">buildpress@gmail.com</span>
						</div>
					</div>
				</div>
				<div class="widget  widget-icon-box">
					<div class="icon-box">
						<i class="fa  fa-home  fa-3x"></i>
						<div class="icon-box__text">
							<h4 class="icon-box__title">Maldybaeva 34A</h4>
							<span class="icon-box__subtitle">Bishkek, 320034</span>
						</div>
					</div>
				</div>
				<div class="widget  widget-icon-box">
					<div class="icon-box">
						<i class="fa  fa-clock-o  fa-3x"></i>
						<div class="icon-box__text">
							<h4 class="icon-box__title">Пон. - Субб. 8.00 - 18.00</h4>
							<span class="icon-box__subtitle">Воскр. отдых</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<div class="jumbotron  jumbotron--with-captions">
		<div class="carousel slide js-jumbotron-slider" id="headerCarousel" data-interval="5000">
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<img src="images/demo/slider/home-shop-1.jpg" alt="DEAL OF THE WEEK" />
					<div class="container">
						<div class="carousel-content">
							<div class="jumbotron__category">
								<h6>СДЕЛКА НЕДЕЛИ</h6>
							</div>
							<div class="jumbotron__title">
								<h1> Скидки на Дрели до 20%</h1>
							</div>
							<div class="jumbotron__content">
								<p>
									Build Press устанавливает стандарты в области инноваций и дизайна электроинструментов с 1952 года.  Как изобретатель
									первой портативной электродрели с пистолетной рукояткой и спусковым крючком, мы предлагаем широкую линейку качественных электроинструментов..
								</p>
								<a class="btn btn-primary" href="#" target="_blank">Купить</a>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<img src="images/demo/slider/home-shop-2.jpg" alt="Auto parts sale">
					<div class="container">
						<div class="carousel-content">
							<div class="jumbotron__category">
								<h6>ПРОДАЖА АВТОЗАПЧАСТЕЙ</h6>
							</div>
							<div class="jumbotron__title">
								<h1>Самая большая коллекция Автомобильных запчастей</h1>
							</div>
							<div class="jumbotron__content">
								<p>
									Build Press устанавливает стандарты в области инноваций и дизайна автомобильных деталей с 2021 года.
									Как изобретатель первого самосмазывающегося подшипника, мы предлагаем широкую линейку качественных автомобильных запчастей..
								</p>
								<a class="btn  btn-primary" href="our-services" target="_self">Подробнее </a>
							</div>
						</div>
					</div>
				</div>
				<div class="item ">
					<img src="images/demo/slider/home-shop-3.jpg" alt="Custom made excavators">
					<div class="container">
						<div class="carousel-content">
							<div class="jumbotron__category">
								<h6>СТРОЙТЕ С УДОВОЛЬСТВИЕМ </h6>
							</div>
							<div class="jumbotron__title">
								<h1>Экскаваторы, Изготовленные На Заказ</h1>
							</div>
							<div class="jumbotron__content">
								<p>
									Компания Build Press с 2021 года устанавливает стандарты в области инноваций и проектирования экскаваторов, изготовленных на заказ.
									Как изобретатель первого гибридного экскаватора, изготовленного на заказ, мы предлагаем широкую линейку качественных тяжеловесных машин..
								</p>
								<a class="btn  btn-primary" href="projects" target="_self">Получить</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Controls -->
			<a class="left carousel-control" href="#headerCarousel" role="button" data-slide="prev">
				<i class="fa fa-angle-left"></i>
			</a>
			<a class="right carousel-control" href="#headerCarousel" role="button" data-slide="next">
				<i class="fa fa-angle-right"></i>
			</a>
		</div>
	</div>
	<div class="master-container">
		<div class="promo">
			<div class="container" >
				<div class="row">
					<div class="col-md-12">
						<div class="siteorigin-panels-stretch panel-row-style" style="background-color:#eeeeee">
							<div class="panel-grid-cell">
								<div class="panel widget widget_pt_banner panel-first-child panel-last-child">	
									<div class="banner__text">
										<span class="icon-container"><span class="fa fa-shopping-cart "></span></span>
										СПЕЦИАЛЬНОЕ ОБЪЯВЛЕНИЕ: Бесплатная доставка для всех покупок на сумму свыше 39$
									</div>
									<div class="banner__buttons">
										<a class="btn btn-primary" href="shop.html" target="_self">РОЗЕТКИ - СКИДКА ДО 70%</a>&nbsp;
										<a class="btn  btn-default" href="shop.html" target="_self">ВЕСЬ МАГАЗИН</a>
									</div>
									<div class="clearfix"></div>
								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="spacer"></div>
		<div class="container" role="main">
			<div class="row">
				<div class="col-md-12">
					<div class="panel-grid">
						<h3 class="widget-title"> Рекомендуемые продукты </h3>
					</div>
					<ul class="products">
						<li class="product first">
							<a href="shop-single.html">
								<img width="150" height="150" src="images/demo/shop/9.jpg" alt="Brush" />
								<h3>Кисточки</h3>
								<div class="rating">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star-half-o"></span>
									<span class="fa fa-star-o"></span>
								</div>
								<span class="price"><span class="amount">&#36;15.00</span></span>
							</a>
							<a href="shop-cart.html" class="button add_to_cart_button">В Корзину</a>
						</li>
						<li class="product">
							<a href="shop-single.html">
								<img width="150" height="150" src="images/demo/shop/13.jpg" alt="Forceps" />
								<h3>Щипцы</h3>
								<div class="rating">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star-o"></span>
								</div>
								<span class="price"><span class="amount">&#36;3.00</span></span>
							</a>
							<a href="shop-cart.html" class="button add_to_cart_button">В Корзину</a>
						</li>
						<li class="product">
							<a href="shop-single.html">
								<img width="150" height="150" src="images/demo/shop/11.jpg" alt="Hammer" />
								<h3>Молоток</h3>
								<div class="rating">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
								<span class="price"><span class="amount">&#36;9.00</span></span>
							</a>
							<a href="shop-cart.html" class="button add_to_cart_button">В Корзину</a>
						</li>
						
						<li class="product last">
							<a href="shop-single.html">
								<img width="150" height="150" src="images/demo/shop/10.jpg" alt="Hand Tools" />
								<h3>Ручные Инструменты</h3>
								<div class="rating">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star-half-o"></span>
								</div>
								<span class="price"><span class="amount">&#36;15.00</span></span>
							</a>
							<a href="shop-cart.html" class="button add_to_cart_button">В Корзину</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="spacer"></div>
		<div class="panel-grid">
			<div class="promobg">
				<div class="container">
					<div class="panel widget row">	
						<div class="col-md-12">
							<div class="motivational-text">
								Наше обещание как подрядчика заключается в том, чтобы привнести общественную ценность в каждый проект, предоставляя профессиональный опыт, исключительное обслуживание клиентов и качественное строительство.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="spacer-big"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="panel-grid">
						<h3 class="widget-title">Последние продукты</h3>
					</div>
					<ul class="products">
						<li class="product first">
							<a href="shop-single.html">
								<img width="150" height="150" src="images/demo/shop/9.jpg" alt="Brush" />
								<h3>Щетки</h3>
								<div class="rating">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star-o"></span>
								</div>
								<span class="price"><span class="amount">&#36;15.00</span></span>
							</a>
							<a href="shop-cart.html" class="button add_to_cart_button">В Корзину</a>
						</li>
						<li class="product">
							<a href="shop-single.html">
								<img width="150" height="150" src="images/demo/shop/13.jpg" alt="Forceps" />
								<h3>Щипцы</h3>
								<div class="rating">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
								<span class="price"><span class="amount">&#36;3.00</span></span>
							</a>
							<a href="shop-cart.html" class="button add_to_cart_button">В Корзину</a>
						</li>
						<li class="product">
							<a href="shop-single.html">
								<img width="150" height="150" src="images/demo/shop/11.jpg" alt="Hammer" />
								<h3>Молоток</h3>
								<div class="rating">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
								<span class="price"><span class="amount">&#36;9.00</span></span>
							</a>
							<a href="shop-cart.html" class="button add_to_cart_button">В Корзину</a>
						</li>
						
						<li class="product last">
							<a href="shop-single.html">
								<img width="150" height="150" src="images/demo/shop/10.jpg" alt="Hand Tools" />
								<h3>Ручные Инструменты</h3>
								<div class="rating">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star-o"></span>
								</div>
								<span class="price"><span class="amount">&#36;15.00</span></span>
							</a>
							<a href="shop-cart.html" class="button add_to_cart_button">В Корзину</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="spacer"></div>
			
			<div class="row">
				<div class="col-md-4">
					<a href="images/demo/shop/icon1.jpg" data-rel="lightbox">
						<img class="alignnone size-full" src="images/demo/shop/icon1.jpg" alt="This is buildpress" width="360" height="202"/>
					</a>
					<h5> ЭТО СТРОИТЕЛЬ </h5>
					Делайте покупки у более чем 850 лучших брендов, включая собственную марку BuildPress. Кроме того, получайте ежедневную информацию о самых свежих
					строительных практиках, уроках DIY и новостях о крафте.
				</div>
				<div class="col-md-4">
					<a href="images/demo/shop/icon2.jpg" data-rel="lightbox">
						<img class="alignnone size-full" src="images/demo/shop/icon2.jpg" alt="Payment and delivery" width="360" height="202"/>
					</a>
					<h5>ОПЛАТА И ДОСТАВКА</h5>
					We've extended our Returns Policy for December 2014. Orders placed from 1 November 2014 can be returned up 
					until 31 January 2015 and are subject to our returns policy.
				</div>
				<div class="col-md-4">
					<a href="images/demo/shop/icon3.jpg" data-rel="lightbox">
						<img class="alignnone size-full" src="images/demo/shop/icon3.jpg" alt="Help" width="360" height="202"/>
					</a>
					<h5> ВАМ НУЖНА ПОМОЩЬ ПЕРЕД ПОКУПКОЙ? </h5>
					Мы здесь, чтобы помочь вам. Вам просто нужно связаться с нашим центром поддержки через чат, электронную почту или позвонить в наш
					агенты службы поддержки по телефону.
				</div>
			</div>
		</div>
		<div class="spacer"></div>
		<div class="siteorigin-panels-stretch panel-row-style testimonials-bg">
			<div class="container">
				<div class="panel-grid">
					<div class="panel-grid-cell" id="pgc-7-4-0">
						<div class="panel widget widget_pt_testimonials panel-first-child panel-last-child">
							<div class="testimonial">
								<h2 class="widget-title">
									<a class="testimonial__carousel  testimonial__carousel--left" href="#carousel-testimonials-widget-4-0-0" data-slide="next">
										<i class="fa  fa-angle-right" aria-hidden="true"></i>
										<span class="sr-only" role="button">Next</span>
									</a>
									<a class="testimonial__carousel  testimonial__carousel--right" href="#carousel-testimonials-widget-4-0-0" data-slide="prev">
										<i class="fa  fa-angle-left" aria-hidden="true"></i>
										<span class="sr-only" role="button">Previous</span>
									</a>
									Рекомендации
								</h2>
								<div id="carousel-testimonials-widget-4-0-0" class="carousel slide">
									<!-- Wrapper for slides -->
									<div class="carousel-inner" role="listbox">
										<div class="item active">
											<div class="row">
												<div class="col-xs-12  col-sm-6">
													<blockquote class="testimonial__quote">
														Наши специалисты по управлению строительством организуют, руководят и управляют людьми, материалами
														и процессами строительства, используя новейшие технологии в отрасли. Наше управление
														строительством Наше управление строительством.
													</blockquote>
													<cite class="testimonial__author">Боб Строитель</cite>
													<div class="testimonial__rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>	
													</div>
												</div>
												<div class="col-xs-12  col-sm-6">
													<blockquote class="testimonial__quote">
														Мы стремимся устранить задачу разделения вашего проекта между различными архитектурными и
														строительными компаниями. Мы являемся компанией, которая предлагает вам услуги по проектированию и строительству от
														первоначальных эскизов до окончательного строительства.
													</blockquote>
													<cite class="testimonial__author">Сара Конор</cite>
													<div class="testimonial__rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>		
													</div>
												</div>
											</div>
										</div> 
										<div class="item">
											<div class="row">	
												<div class="col-xs-12  col-sm-6">
													<blockquote class="testimonial__quote">
														We offer quality tiling and painting solutions for interior and exterior of residential and 
														commercial spaces that not only looks good but also lasts longer. We offer quality tiling and 
														painting solutions for interior and exterior.	
													</blockquote>
													<cite class="testimonial__author">Райан Гослинг </cite>
													<div class="testimonial__rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
												</div>
												<div class="col-xs-12  col-sm-6">
													<blockquote class="testimonial__quote">
														Для нас честность - это единственная политика, и мы стремимся добросовестно выполнять все проекты не
														только с нашими клиентами, но и с нашими поставщиками и подрядчиками. Имея за плечами тысячи успешных
														проектов, мы являемся одной из самых надежных строительных компаний в США.
													</blockquote>
													<cite class="testimonial__author">Junkey</cite>
													<div class="testimonial__rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>	
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="spacer-big"></div>
		<div class="panel-grid">
			<div class="panel-grid-cell">
				<div class="panel container">
					<h3 class="widget-title">Клиенты / Партнеры / Сертификаты</h3>
					<div class="textwidget">
						<div class="logo-panel">
							<div class="row">
								<div class="col-xs-12 col-sm-2"><img src="images/demo/clients/client_01.jpg" alt="Client" width="208" height="98"></div>
								<div class="col-xs-12 col-sm-2"><img src="images/demo/clients/client_02.jpg" alt="Client" width="208" height="98"></div>
								<div class="col-xs-12 col-sm-2"><img src="images/demo/clients/client_03.jpg" alt="Client" width="208" height="98"></div>
								<div class="col-xs-12 col-sm-2"><img src="images/demo/clients/client_04.jpg" alt="Client" width="208" height="98"></div>
								<div class="col-xs-12 col-sm-2"><img src="images/demo/clients/client_05.jpg" alt="Client" width="208" height="98"></div>
								<div class="col-xs-12 col-sm-2"><img src="images/demo/clients/client_06.jpg" alt="Client" width="208" height="98"></div>
								<div class="col-xs-12 col-sm-2"><img src="images/demo/clients/client_07.jpg" alt="Client" width="208" height="98"></div>
								<div class="col-xs-12 col-sm-2"><img src="images/demo/clients/client_08.jpg" alt="Client" width="208" height="98"></div>
								<div class="col-xs-12 col-sm-2"><img src="images/demo/clients/client_09.jpg" alt="Client" width="208" height="98"></div>
								<div class="col-xs-12 col-sm-2"><img src="images/demo/clients/client_10.jpg" alt="Client" width="208" height="98"></div>
								<div class="col-xs-12 col-sm-2"><img src="images/demo/clients/client_11.jpg" alt="Client" width="208" height="98"></div>
								<div class="col-xs-12 col-sm-2"><img src="images/demo/clients/client_12.jpg" alt="Client" width="208" height="98"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-4">
						<div class="widget  widget_text  push-down-30">
							<h6 class="footer__headings">О Нас</h6>
							<div class="textwidget">
								<img src="images/logo_footer.png" alt="Footer Logo" width="218" height="45" />
								<br><br>
								Наши специалисты по управлению строительством организуют, руководят и управляют людьми, материалами и процессами
								строительства, используя специалистов по управлению строительством.
								<br><br>
								<strong><a href="#" class="read-more" target="_blank">Подробнее</a></strong>
							</div>
						</div>
					</div>
					<div class="col-xs-12  col-md-4">
						<div class="widget  widget_nav_menu  push-down-30">
							<h6 class="footer__headings">Навигация</h6>
							<div class="menu-top-menu-container">
								<ul id="menu-top-menu-1" class="menu">
									<li><a href="extras.html">Дополнительные услуги</a>
										<ul class="sub-menu">
											<li><a href="tables.html">Таблицы</a></li>
											<li><a href="brochure-box.html">Коробка для брошюр</a></li>
										</ul>
									</li>
									<li><a href="alternative-page.html">Альтернативные Страницы</a>
										<ul class="sub-menu">
											<li><a href="shop-front.html">Магазин домов</a></li>
											<li><a href="contact-multiple-locations.html">Несколько Контактов</a></li>
											<li><a href="#">Команда &#038; Контактное лицо</a></li>
										</ul>
									</li>
									<li>
										<a target="_blank" href="#">Онлайн документация</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xs-12  col-md-4">
						<div class="widget  widget_text  push-down-30">
							<h6 class="footer__headings">Преобрести</h6>
							<div class="textwidget">
								Если вы проделали весь этот путь сюда, вам, вероятно, действительно нравится наша компания BuildPress. Чтобы избавить вас от всех
								проблем с поиском, где купить эту тему, у нас тоже есть решение для этого. Просто нажмите на кнопку ниже.
								<br><br>
								<a class="btn  btn-primary" href="#" target="_blank">Купить</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="footer-bottom__left">
					BuildPress
				</div>
				<div class="footer-bottom__right">
					&copy; 2020 - 2022 <strong>ОсОО, BuildPress </strong>. Все права защищены.
				</div>
			</div>
		</div>
	</footer>
</div><!-- end of .boxed-container -->

<script type="text/javascript" src="js/almond.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>
<script type="text/javascript" src="js/header_carousel.js"></script>
<script type="text/javascript" src="js/sticky_navbar.js"></script>
<script type="text/javascript" src="js/simplemap.js"></script>
<script type="text/javascript" src="js/main.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>


<script type="text/javascript" src="style-switcher/assets/js/switcher.js"></script>
</body>
</html>