<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8"/>
	<title>BuildPress | We Build Structures &amp; Relationships to Last</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400,700%3Alatin%7CMontserrat%3A700%3Alatin"/>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/shop.css"/>
	<link rel="stylesheet" href="css/prettyPhoto.css"/>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/modernizr.custom.24530.js"></script>

</head>
<body class="woocommerce-page">
<div class="boxed-container">
	<header class="header">
		<div class="container">
			<div class="logo">
				<a href="index.html">
					<img src="images/logo.png" alt="BuildPress" class="img-responsive"/>
				</a>
			</div>
			<div class="header-widgets  header-widgets-desktop">
				<div class="widget  widget-icon-box">
					<div class="icon-box">
						<i class="fa  fa-phone  fa-3x"></i>
						<div class="icon-box__text">
							<h4 class="icon-box__title">(+996) 706065005</h4>
							<span class="icon-box__subtitle"> buildpress@gmail.com </span>
						</div>
					</div>
				</div>
				<div class="widget  widget-icon-box">
					<div class="icon-box">
						<i class="fa fa-home fa-3x"></i>
						<div class="icon-box__text">
							<h4 class="icon-box__title">Maldybaeva 34A</h4>
							<span class="icon-box__subtitle">Bishkek, 320034</span>
						</div>
					</div>
				</div>
				<div class="widget  widget-icon-box">
					<div class="icon-box">
						<i class="fa  fa-clock-o  fa-3x"></i>
						<div class="icon-box__text">
							<h4 class="icon-box__title">Пон. - Субб. 8.00 - 18.00</h4>
							<span class="icon-box__subtitle">Воскр. отдых</span>
						</div>
					</div>
				</div>
			</div>
			<!-- Toggle Button for Mobile Navigation -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#buildpress-navbar-collapse">
				<span class="navbar-toggle__text">MENU</span>
				<span class="navbar-toggle__icon-bar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</span>
			</button>
		</div>
		<div class="sticky-offset js-sticky-offset"></div>
		<div class="container">
			<div class="navigation">
				<div class="collapse  navbar-collapse" id="buildpress-navbar-collapse">
					<ul id="menu-main-menu" class="navigation--main">
						<li class="current-menu-item"><a href="index.html">Главная</a></li>
						<li><a href="projects.html">Проекты</a></li>
						<li class="menu-item-has-children">
							<a href="services.html">Наши услуги</a>
							<ul class="sub-menu">
								<li><a href="services-content/construction-management.html">Управление Строительством</a></li>
								<li><a href="services-content/design-and-build.html">Проектирование и Строительство</a></li>
								<li><a href="services-content/kitchen-remodeling.html">Ремонт Кухни</a></li>
								<li><a href="services-content/tiling-and-painting.html">Укладка плитки и покраска</a></li>
								<li><a href="services-content/condo-remodeling.html">Реконструкция Кондоминиума</a></li>
								<li><a href="services-content/hardwood-flooring.html">Паркетные Полы</a></li>
								<li><a href="services.html">Все Услуги</a></li>
							</ul>
						</li>
						<li><a href="about.html">О Нас</a></li>
						<li><a href="blog.html">Блог</a></li>
						<li><a href="shop.html">Магазин</a></li>
						<li><a href="contact-us.html">Контакты</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="header-widgets  hidden-md  hidden-lg">
				<div class="widget  widget-icon-box">
					<div class="icon-box">
						<i class="fa  fa-phone  fa-3x"></i>
						<div class="icon-box__text">
							<h4 class="icon-box__title">(+996) 706065005</h4>
							<span class="icon-box__subtitle">buildpress@gmail.com</span>
						</div>
					</div>
				</div>
				<div class="widget  widget-icon-box">
					<div class="icon-box">
						<i class="fa  fa-home  fa-3x"></i>
						<div class="icon-box__text">
							<h4 class="icon-box__title">Maldybaeva 34A</h4>
							<span class="icon-box__subtitle">Bishkek, 320034</span>
						</div>
					</div>
				</div>
				<div class="widget  widget-icon-box">
					<div class="icon-box">
						<i class="fa  fa-clock-o  fa-3x"></i>
						<div class="icon-box__text">
							<h4 class="icon-box__title">Пон. - Субб. 8.00 - 18.00</h4>
							<span class="icon-box__subtitle">Воскр. отдых</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="main-title">
		<div class="container">
			<h1 class="main-title__primary">Магазин</h1>
			<h3 class="main-title__secondary">ГДЕ ВЫ МОЖЕТЕ НАЙТИ ЛУЧШИЕ ТОВАРЫ ПО НИЗКОЙ ЦЕНЕ</h3>
		</div>
	</div>
	<div class="breadcrumbs ">
		<div class="container">
			<span typeof="v:Breadcrumb"><a rel="v:url" property="v:title" title="Go to BuildPress." href="index.html" class="home">BuildPress</a></span>
			<span typeof="v:Breadcrumb"><a title="Go to Shop." href="shop.html">Магазин</a></span>
			<span typeof="v:Breadcrumb"><a title="Go toHand Tools." href="#">Ручные инструменты</a></span>
			<span property="v:title">Щипцы</span>
		</div>
	</div>
	<div class="master-container">
		<div class="container">
			<div class="row">
				<div class="col-xs-12  col-md-9  col-md-push-3" role="main">
					<div class="product product-type-simple">
						<div class="images">
							<a href="images/demo/shop/13_big.jpg" class="woocommerce-main-image zoom" title="Original image title" data-rel="prettyPhoto">
								<img width="300" height="300" src="images/demo/shop/13_big.jpg" class="attachment-shop_single wp-post-image" alt="Forceps" title="Forceps"/>
							</a>
						</div>
						<div class="summary entry-summary">
							<div class="woocommerce-product-rating">
								<div class="rating">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star-o"></span>
								</div>
								<a href="#" class="woocommerce-review-link" rel="nofollow"><span class="count">2</span> customer reviews</a>
							</div>
							<h1 class="product_title entry-title">Плоскогубцы</h1>
							<div>
								<p class="price"><span class="amount">&#36;3.00</span></p>
							</div>
							<div class="short-description">
								<p>
									Плоскогубцы это ручной шарнирно-губцевый инструмент. Область применения – слесарное и электромонтажное дело, ремонт в быту. Используются для того, чтобы захватывать и фиксировать детали, изгибать и перекусывать кабель, проволоку, гвозди.
								</p>
							</div>
							<form class="cart" method="post" enctype="multipart/form-data">
								<div class="quantity">
									<input type="number" step="1" min="1" name="quantity" value="1" title="Qty" class="input-text qty text" />
								</div>
								<input type="hidden" name="add-to-cart" value="402"/>
								<button type="submit" class="single_add_to_cart_button button alt">В Корзнину</button>
							</form>
							<div class="product_meta">
								<span class="posted_in">Category: <a href="#">Hand Tools</a>.</span>
							</div>
						</div><!-- .summary -->
						<div class="woocommerce-tabs">
							<div class="panel entry-content" id="tab-description">
								<h2>Описание товара</h2>
								<p>
									ри выборе плоскогубцев обратите внимание на размеры инструмента – длина может составлять 160 мм, 180 мм, 200 мм. Рукояти могут быть изогнутые или прямые – подбирайте наиболее удобную для себя форму. Для электромонтажных работ покупают приспособления с диэлектрическими рукоятками, которые выдерживают напряжение до 1000 В.
								</p>
							</div>
						</div>
						<div class="related products">
							<h2> Сопутствующие товары </h2>
							<ul class="products">
								<li class="product first">
									<a href="shop-single.html">
										<img width="150" height="150" src="images/demo/shop/9.jpg" alt="Brush" />
										<h3>Кисточки</h3>
										<div class="rating">
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star-half-o"></span>
											<span class="fa fa-star-o"></span>
										</div>
										<span class="price"><span class="amount">&#36;15.00</span></span>
									</a>
									<a href="shop-cart.html" class="button add_to_cart_button">В Корзину</a>
								</li>
								<li class="product">
									<a href="shop-single.html">
										<img width="150" height="150" src="images/demo/shop/13.jpg" alt="Forceps" />
										<h3>Плоскогубцы</h3>
										<div class="rating">
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star-o"></span>
										</div>
										<span class="price"><span class="amount">&#36;3.00</span></span>
									</a>
									<a href="shop-cart.html" class="button add_to_cart_button">В Корзину</a>
								</li>
								<li class="product">
									<a href="shop-single.html">
										<img width="150" height="150" src="images/demo/shop/11.jpg" alt="Hammer" />
										<h3>Молоток</h3>
										<div class="rating">
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
										</div>
										<span class="price"><span class="amount">&#36;9.00</span></span>
									</a>
									<a href="shop-cart.html" class="button add_to_cart_button">В Корзину</a>
								</li>
								<li class="product last">
									<a href="shop-single.html">
										<img width="150" height="150" src="images/demo/shop/10.jpg" alt="Hand Tools" />
										<h3>Ручные инструменты</h3>
										<div class="rating">
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star-o"></span>
										</div>
										<span class="price"><span class="amount">&#36;15.00</span></span>
									</a>
									<a href="shop-cart.html" class="button add_to_cart_button">В Корзину</a>
								</li>	
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12  col-md-3  col-md-pull-9">
					<div class="sidebar shop-sidebar">
						<!-- Search Widget -->
						<div class="widget woocommerce widget_product_search push-down-30">
							<h4 class="sidebar__headings">Поиск товаров</h4>
							<form method="get" id="searchform" class="woocommerce-product-search">
								<div>
									<label class="screen-reader-text" for="s">Search for:</label>
									<input type="text" value="" name="s" id="s" placeholder="Поиск товаров"/>
									<input type="submit" id="searchsubmit" value="Поиск"/>
									<input type="hidden" name="post_type" value="Продукт"/>
								</div>
							</form>
						</div>

						<!-- Product categories Widget -->
						<div class="widget woocommerce widget_product_categories push-down-30">
							<h4 class="sidebar__headings">Категории продуктов</h4>
							<ul class="product-categories">
								<li><a href="#">Дрели</a></li>
								<li><a href="#">Шлифовальные машины</a></li>
								<li><a href="#">Ручные инструменты</a></li>
								<li><a href="#">Пилы</a></li>
								<li><a href="#">Вакуум</a></li>
							</ul>
						</div>
						<!-- Top rated products Widget -->
						<div class="widget woocommerce widget_top_rated_products push-down-30">
							<h4 class="sidebar__headings">Продукты с самым высоким рейтингом</h4>
							<ul class="product_list_widget">
								<li>
									<a href="#" title="Saw"><img width="90" height="90" src="images/demo/shop/15.jpg" alt="Saw" /><strong>Пила</strong></a>
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<span class="amount">&#36;9.00</span>
								</li>
								<li>
									<a href="#" title="Forceps"><img width="90" height="90" src="images/demo/shop/13.jpg" alt="Forceps" /><strong>Щипцы</strong></a>
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<span class="amount">&#36;3.00</span>
								</li>
								<li>
									<a href="#" title="Hammer"><img width="90" height="90" src="images/demo/shop/11.jpg" alt="Hammer" /><strong>Молоток</strong></a>
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<span class="amount">&#36;9.00</span>
								</li>
								<li>
									<a href="#" title="Hand Tools"><img width="90" height="90" src="images/demo/shop/10.jpg" alt="Hand Tools" /><strong>Ручные Инструменты</strong></a>
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<span class="amount">&#36;15.00</span>
								</li>
								<li>
									<a href="#" title="Hand Tools"><img width="90" height="90" src="images/demo/shop/4.jpg" alt="Standing Drill" /><strong>Дрель</strong></a>
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<span class="amount">&#36;18.00</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-4">
						<div class="widget  widget_text  push-down-30">
							<h6 class="footer__headings">О Нас</h6>
							<div class="textwidget">
								<img src="images/logo_footer.png" alt="Footer Logo" width="218" height="45" />
								<br><br>
								Наши специалисты по управлению строительством организуют, руководят и управляют людьми, материалами и процессами
								строительства, используя специалистов по управлению строительством.
								<br><br>
								<strong><a href="#" class="read-more" target="_blank">Подробнее</a></strong>
							</div>
						</div>
					</div>
					<div class="col-xs-12  col-md-4">
						<div class="widget  widget_nav_menu  push-down-30">
							<h6 class="footer__headings">Навигация</h6>
							<div class="menu-top-menu-container">
								<ul id="menu-top-menu-1" class="menu">
									<li><a href="extras.html">Дополнительные услуги</a>
										<ul class="sub-menu">
											<li><a href="tables.html">Таблицы</a></li>
											<li><a href="brochure-box.html">Коробка для брошюр</a></li>
										</ul>
									</li>
									<li><a href="alternative-page.html">Альтернативные Страницы</a>
										<ul class="sub-menu">
											<li><a href="shop-front.html">Магазин домов</a></li>
											<li><a href="contact-multiple-locations.html">Несколько Контактов</a></li>
											<li><a href="#">Команда &#038; Контактное лицо</a></li>
										</ul>
									</li>
									<li>
										<a target="_blank" href="#">Онлайн документация</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xs-12  col-md-4">
						<div class="widget  widget_text  push-down-30">
							<h6 class="footer__headings">Преобрести</h6>
							<div class="textwidget">
								Если вы проделали весь этот путь сюда, вам, вероятно, действительно нравится наша компания BuildPress. Чтобы избавить вас от всех
								проблем с поиском, где купить эту тему, у нас тоже есть решение для этого. Просто нажмите на кнопку ниже.
								<br><br>
								<a class="btn  btn-primary" href="#" target="_blank">Купить</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="footer-bottom__left">
					BuildPress
				</div>
				<div class="footer-bottom__right">
					&copy; 2020 - 2022 <strong>ОсОО, BuildPress </strong>. Все права защищены.
				</div>
			</div>
		</div>
	</footer>
</div><!-- end of .boxed-container -->

<script type="text/javascript" src="js/almond.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/header_carousel.js"></script>
<script type="text/javascript" src="js/sticky_navbar.js"></script>
<script type="text/javascript" src="js/simplemap.js"></script>
<script type="text/javascript" src="js/main.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>